# Build output & deps
node_modules/
.next/
out/
dist/
.expo/
target/
coverage/

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Prettier 仅格式化 JS/TS/CSS/MD；忽略其他语言
**/*.java
**/*.go
**/*.yaml
**/*.yml
**/*.xml
